# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binary files
/fave
/bin/*

# Virtual hosts logs
/hosts/*/logs/*
!/hosts/*/logs/.*

# Virtual hosts temp dir
/hosts/*/tmp/*
!/hosts/*/tmp/.*

# Test virtual host dir
/hosts/example.com

# Default host mysql config file
/hosts/localhost/config/mysql.json