						</div>
						<div class="col-md-4">
							{{template "sidebar.html" .}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-light py-4">
			<div class="container">
				<p class="m-0 text-center text-black">Copyright © Your Website 2019</p>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{{$.System.PathJsJquery}}"></script>
		<script src="{{$.System.PathJsPopper}}"></script>
		<script src="{{$.System.PathJsBootstrap}}"></script>
	</body>
</html>