<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="theme-color" content="#205081" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{$.PathSysCssBootstrap}}">

		<title>{{$.MetaTitle}}</title>

		<meta name="keywords" content="{{$.MetaKeywords}}" />
		<meta name="description" content="{{$.MetaDescription}}" />

		<link rel="shortcut icon" href="{{$.PathSysIcoFav}}" type="image/x-icon" />
	</head>
	<body>