<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="theme-color" content="#205081" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{$.System.PathCssBootstrap}}">

		<title>{{$.Data.MetaTitle}}</title>
		<meta name="keywords" content="{{$.Data.MetaKeywords}}" />
		<meta name="description" content="{{$.Data.MetaDescription}}" />
		<link rel="shortcut icon" href="{{$.System.PathIcoFav}}" type="image/x-icon" />
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<a class="navbar-brand" href="/">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">More</a>
						</li>
					</ul>
					<form class="form-inline mt-2 mt-md-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
		</header>
		<main role="main" class="pt-2">
			<div class="container some-text pt-3">
				<h2>MetaData</h2>
				<div><b>MetaTitle:</b> {{$.Data.MetaTitle}}</div>
				<div><b>MetaKeywords:</b> {{$.Data.MetaKeywords}}</div>
				<div><b>MetaDescription:</b> {{$.Data.MetaDescription}}</div>
			</div>
			<div class="container some-text pt-3">
				<h2>Http</h2>
				<div><b>RequestURI:</b> {{$.Data.RequestURI}}</div>
				<div><b>RequestURL:</b> {{$.Data.RequestURL}}</div>
				<div><b>RequestGET:</b> {{$.Data.RequestGET}}</div>
			</div>